In [ ]:
## SVD

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.decomposition import TruncatedSVD

## LOAD DATA

In [2]:
users = pd.read_csv("ml-100k/u.user",sep ='|',names= ['userid','age','sex','occupation','zipcode',],encoding='latin-1')

In [3]:
users.head()

   userid  age sex  occupation zipcode
0       1   24   M  technician   85711
1       2   53   F       other   94043
2       3   23   M      writer   32067
3       4   24   M  technician   43537
4       5   33   F       other   15213

In [4]:
ratings = pd.read_csv("ml-100k/u.data",sep ='\t',names = ['userid','movieid','rating','timestamp'],encoding='latin-1')

In [5]:
ratings.head()

   userid  movieid  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [31]:
cols = ['movieid', 'movietitle' ,'releasedate','video releasedate', 'IMDb URL', 'unknown', 'Action', 'Adventure', 
        'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [32]:
movies = pd.read_csv("ml-100k/u.item",sep = "|", encoding='latin-1',names = cols)

In [33]:
movies.head()

,movieid,movietitle,releasedate,video releasedate,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [34]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [35]:
ratings.groupby('movieid')['rating'].count().sort_values(ascending= False)

movieid
50      583
258     509
100     508
181     507
294     485
286     481
288     478
1       452
300     431
121     429
174     420
127     413
56      394
7       392
98      390
237     384
117     378
172     367
222     365
313     350
204     350
405     344
79      336
210     331
151     326
173     324
69      321
168     316
748     316
269     315
       ...
1414      1
1606      1
1156      1
1681      1
857       1
1613      1
711       1
1614      1
1236      1
1616      1
1596      1
677       1
1580      1
1595      1
1581      1
1582      1
1583      1
1584      1
1586      1
1587      1
1461      1
1460      1
1458      1
1457      1
1453      1
1452      1
1593      1
1447      1
814       1
1682      1
Name: rating, Length: 1682, dtype: int64

## Build a utility matrix

In [39]:
movies_names = movies[['movieid','movietitle']]
ratings = pd.merge(ratings,movies_names)
ratings.head()

   userid  movieid  rating  timestamp    movietitle
0     196      242       3  881250949  Kolya (1996)
1      63      242       3  875747190  Kolya (1996)
2     226      242       5  883888671  Kolya (1996)
3     154      242       3  879138235  Kolya (1996)
4     306      242       5  876503793  Kolya (1996)

In [40]:
crosstab = pd.pivot_table(ratings,index = 'userid', columns= 'movietitle',values= 'rating',fill_value=0)
crosstab.head()

movietitle,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
userid,,,,,,,,,,,,,,,,,,,,,
1,0,0,2,5,0,0,3,4,0,0,...,0,0,0,5,3,0,0,0,4,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,0,0,0,0,4,0,0,...,0,0,0,4,0,0,0,0,4,0

In [41]:
crosstab.shape

(943, 1664)

#Transpose

In [44]:
x = crosstab.values.T
x.shape

(1664, 943)

### DECOMPOSITION

This is the generalized user tastes in 12 buckets of 1664 movies

In [45]:
SVD = TruncatedSVD(n_components=12,random_state=17)

resultant_matrix = SVD.fit_transform(x)

resultant_matrix.shape

(1664, 12)

Generate Correlation matrix based on generalized user tastes

In [54]:
corrmat = np.corrcoef(resultant_matrix)
corrmat.shape

(1664, 1664)

In [155]:
movie_names = np.array(crosstab.columns)
movie_names[:5]

array(["'Til There Was You (1997)", '1-900 (1994)',
       '101 Dalmatians (1996)', '12 Angry Men (1957)', '187 (1997)'], dtype=object)

In [192]:
def suggest(movie_name):
    x = int(np.argwhere(movie_names== movie_name))
    tempdf = corrmat[x]
    return list(movie_names[(tempdf >.90) & (tempdf <1.0)])

In [193]:
suggest('Star Wars (1977)')

['Die Hard (1988)',
 'Empire Strikes Back, The (1980)',
 'Fugitive, The (1993)',
 'Raiders of the Lost Ark (1981)',
 'Return of the Jedi (1983)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Toy Story (1995)']